.footer {
  padding: 60px 0;

  background: $footer-background;

  & > .container {
    display: flex;
  }

  &-logo {
    display: inline-block;
    margin-bottom: 20px;

    font-family: $font-studio;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &-logo__web {
    color: $additional-color;
  }

  &-logo__studio {
    color: $main-color;
  }

  &-address {
    margin: 0 0 9px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $main-color;
  }

  &-contacts {
    margin: 0;
    padding: 0;

    & > &__item:not(:last-child) {
      margin-bottom: 9px;
    }

    &__menu {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;

      color: $contacts-color;

      transition: color $time-function $cubic-function;

      &:hover,
      &:focus {
        color: $additional-color;
      }
    }
  }
}
.footer-join {
  display: inline-block;
  align-self: center;
  margin-left: 70px;

  &__title {
    margin: 0 0 20px 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $main-color;
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__socials-icon {
    display: inline-flex;
    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: $social-background;

    fill: $main-color;

    transition: background-color $time-function $cubic-function;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      background-color: $additional-color;
    }
  }

  &__socials-picture {
    fill: currentColor;
  }
}
.footer-subscribe {
  align-self: center;
  margin-left: auto;

  &__title {
    margin: 0 0 20px 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $main-color;
  }

  &__item {
    display: flex;
  }

  &__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    box-sizing: border-box;

    outline: transparent;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--main-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: border-color $time-function $cubic-function;

    &:hover,
    &:focus {
      border-color: $additional-color;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;

      display: flex;
      align-items: center;

      color: $contacts-color;
    }
  }

  &__button {
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.03em;

    display: flex;
    padding: 10px 29px;
    margin-left: 12px;

    align-items: center;
    justify-content: center;

    border: transparent;
    outline: transparent;
    border-style: none;

    border-radius: 4px;
    cursor: pointer;

    color: $main-color;
    background-color: $additional-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__picture {
    margin-left: 10px;
    fill: currentColor;
  }
}
