.section-work {
  padding: 94px 0;

  &__item {
    display: flex;
    margin: 0 0 50px 0;
    padding: 0;

    list-style-type: none;

    justify-content: center;

    & > .section-work__button:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.section-work__button-portfolio {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: transparent;
  outline: transparent;

  cursor: pointer;

  border-radius: 4px;

  background: $team-background-color;

  color: $navigation-color;

  transition: box-shadow $time-function $cubic-function;
  transition: background-color $time-function $cubic-function;
  transition: color $time-function $cubic-function;
}

.section-work__button-portfolio:hover,
.section-work__button-portfolio:focus,
.section-work__button-item {
  background-color: $additional-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: $main-color;
}

.section-job {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -30px -30px 0;

  &__work {
    margin: 0 30px 30px 0;
    flex-basis: calc((100% - 90px) / 3);
    border: 1px solid #eeeeee;
    box-sizing: border-box;

    background: $main-color;
  }

  &__item {
    display: block;

    transition: box-shadow $time-function $cubic-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__picture {
    position: relative;

    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.9;

    background-color: $additional-color;

    transform: translateY(0);

    transition: transform $time-function $cubic-function;
  }

  &__container {
    padding: 0;
    margin: 0;
  }

  &__description {
    padding: 20px 24px;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $navigation-color;
  }

  &__subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: $text-color;
  }
}

.section-job__item:hover .section-job__overlay,
.section-job__item:focus .section-job__overlay {
  transform: translateY(-100%);
}

.work-mode {
  position: absolute;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: $main-color;
}
