$font-page: Roboto;
$font-studio: Raleway;
$main-color: #ffffff;
$additional-color: #2196f3;
$studio-color: #000000;
$navigation-color: #212121;
$text-color: #757575;
$hero-button: rgba(47, 48, 58, 0.4);
$occupapation-background-text: rgba(47, 48, 58, 0.8);
$team-background-color: #f5f4fa;
$social-color: #afb1b8;
$footer-background: #2f303a;
$contacts-color: rgba(255, 255, 255, 0.6);
$social-background: rgba(255, 255, 255, 0.1);
$time-function: 250ms;
$cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
